{
    "firewall": {
        "group": {
            "network-group": {
                "remote_user_vpn_network": {
                    "description": "Remote User VPN subnets",
                    "network": [
                        "10.16.1.0/24"  //Subnet assigned to Wireguard clients
                    ]
                }
            }
        }
    },
    "interfaces": {
        "wireguard": {
            "wg0": {
                "address": [
                    "10.16.1.1/24"  //USG gateway address in wireguard subnet
                ],
                "firewall": {
                    "in": {
                        "name": "LAN_IN"
                    },
                    "local": {
                        "name": "LAN_LOCAL"
                    },
                    "out": {
                        "name": "LAN_OUT"
                    }
                },
                "listen-port": "51820",  //Listen port - can be customised, adjust firewall port accordingly
                "mtu": "1500",
                "peer": [{
                    "wZ0j/CM/nJ6tdIxFTtBLOxbIoTNoK0Tjn49rZgasLUM=": {   //Peer 1 Public Key
                        "allowed-ips": [
                            "10.16.1.50/32"                             //Peer IP address
                        ],
                        "persistent-keepalive": 25
                    }
                },
                {
                    "wZ0j/CM/nJ6tdIxFTtBLOxbIoTNoK0Tjn49rZgasLUM=": {   //Peer 2 public key
                        "allowed-ips": [
                            "10.16.1.51/32"
                        ],
                        "persistent-keepalive": 25
                    }
                },
                {
                    "wZ0j/CM/nJ6tdIxFTtBLOxbIoTNoK0Tjn49rZgasLUM=": {   //Peer 3 public key
                        "allowed-ips": [
                            "10.16.1.52/32"
                        ],
                        "persistent-keepalive": 25
                    }
                },
                {
                    "wZ0j/CM/nJ6tdIxFTtBLOxbIoTNoK0Tjn49rZgasLUM=": {   //Peer 4 public key
                        "allowed-ips": [
                            "10.16.1.53/32"
                        ],
                        "persistent-keepalive": 25
                    }
                },
                {
                    "wZ0j/CM/nJ6tdIxFTtBLOxbIoTNoK0Tjn49rZgasLUM=": {  //Peer 5 public key
                        "allowed-ips": [
                            "10.16.1.54/32"
                        ],
                        "persistent-keepalive": 25
                    }
                }],
                "private-key": "/config/auth/wireguard/wg_private.key",  //Server key
                "route-allowed-ips": "true"
            }
        }
    }
}