Package: wireguard
Source: wireguard
Version: 1.0.20200401-1
Architecture: mips
Maintainer: Jason A. Donenfeld <Jason@zx2c4.com>
Section: net
Homepage: https://www.wireguard.io
Description: fast, modern, secure kernel VPN tunnel
 WireGuard is a novel VPN that runs inside the Linux Kernel and uses
 state-of-the-art cryptography (the "Noise" protocol). It aims to be
 faster, simpler, leaner, and more useful than IPSec, while avoiding
 the massive headache. It intends to be considerably more performant
 than OpenVPN. WireGuard is designed as a general purpose VPN for
 running on embedded interfaces and super computers alike, fit for
 many different circumstances. It runs over UDP.
